In [1]:
a = 10

In [2]:
# 데이터의 타입을 변경
x = '1000'
print(type(x))
x = int(x)
print(type(x))

<class 'str'>
<class 'int'>

In [4]:
# 숫자를 문자로 변경
y = 100
print(type(y))
y = str(y)
print(type(y))

<class 'int'>
<class 'str'>

#### 비순서형 목록
- 항목1
- 항목2
- 항목3
    -서브1
    -서브2
    -서브3

# 제목1
## 제목2
### 제목3
#### 제목4

1. 항목
2. 항목
3. 항목
    1. 서브1
    2. 서브2
    3. 서브3

In [15]:
# 변수를 생성
a = 10
b = 'test'

In [16]:
print(a)
print(type(a))
print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [34]:
c = 'true'
d = 3.14
print(c)
print(type(c))
print(d)
print(type(d))

true
<class 'str'>
3.14
<class 'float'>

In [7]:
a = 'test'
print(a)
a = bool(a)
print(a)

test
True

In [8]:
bool("")

False

In [9]:
bool(" ")

True

In [10]:
bool(0)

False

In [12]:
bool(-1)

True

In [63]:
# 연산자
a = 10
b = 3

In [64]:
a + b

13

In [65]:
# a = a + b
a += b

In [66]:
print(a)

13

In [26]:
# 조건문(if문)
a = 5

if a < 10:
    print('a가 10보다 작다')

a가 10보다 작다

In [28]:
a = 11

if a < 10 : 
    print('a는 10 보다 작다.')
else:
    print('a는 10보다 크거나 같다.')

a는 10보다 크거나 같다.

In [30]:
x = ""

# if 뒤에 조건식에 조건식이 아닌 변수가 들어온다면
# 해당하는 변수를 강제로 bool형태로 변환하여 비교
if x:
    print('x에는 데이터가 존재한다')
else:
    print('x에는 데이터가 존재하지 않는다')

x에는 데이터가 존재하지 않는다

In [33]:
# 조건식이 여러개인 경우
# int() : 데이터를 숫자로 변환
# input() : 입력한 데이터를 받는다. 받은 데이터의 파일이 str
score = int(input("점수를 입력하시오 : "))
#print(score)
# 여러개의 if문을 연결해줄때는 if가 아니라 elif로 묶는다

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D') 
else:
    print('F')
    
print('프로그램 종료')

C
프로그램 종료

### 반복문
- for문
    - for i in range(시작값, 종료값, 증가값)
    - for i in 자료형데이터(튜플, 리스트)
    - 자료형 데이터의 원소의 개수만큼 반복 실행
- while문
    - while 뒤의 조건식이 거짓이 될때까지 반복 실행
    - 일반적으로는 초기값을 변수에 대입, 반복실행 시 초기값을 증가 시키는 
    형태로 작성
    - 유의 사항: 무한 반복을 하지 않도록(조건식이 거짓이 되는 부분) 조심
    - 반복 되는 횟수를 모를때 주로 사용
    
- break
    - 반복문을 강제로 종료
- continue
    - 반복문으로 되돌아가는 기능

In [38]:
print(range(1, 10, 1))
print( list( range(1, 10, 1) ) )

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# 기본적인 for문의 형태
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
# 리스트 생성
_list = [100, 'test', True]

# 리스트의 길이를 출력
print(len(_list))

3

In [42]:
# for i in range(0, 3, 1):
for i in range(0, len(_list), 1):
    #i에 들어오는 데이터들은? 0, 1, 2
    print(_list[i])

100
test
True

In [43]:
for i in _list:
    # i에 들어오는 데이터들은?
    print(i)

100
test
True

In [68]:
# while문

# 초기값 지정
j = 1
while j < 10:
    print(j)
    # j를 1씩 증가
    # j= + 1
    j += 1

1
2
3
4
5
6
7
8
9

In [48]:
# 1부터 10까지의 합계

# 초기의 합계라는 변수를 생성해서 0을 대입
result = 0
for i in range(1, 11, 1):
    # result = result + i
    result += i
print(result)

55

In [47]:
result = 0 
i = 1
while i <= 10:
    # result = result + i
    result += i
    # i = i + 1
    i += 1
print(result)

55

In [54]:
## 다중 반복문
## 구구단 생성
for i in range(2, 10, 1):
    for j in range(1, 10, 1):
        #print(i, j, i*j)
        #print("%d X %d = %d"%(i, j, i*j))
        # f-string 이용
        print(f"{i} X {j} = {i*j}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### 반복문 예제 문제(다중 for문)
- 페르마의 마지막 정리가 참인가 확인

- n = 3이라 가정을 하고 a, b, c에 1부터 10까지 값들을 모두 넣어서 해당하는 
조건식이 참인 경우가 존재하는지 확인

In [58]:
cnt = 0
n = 3
end = 10
# a가 1부터 10까지 반복
for a in range(1, end+1, 1):   #10번 반복
    # b가 1부터 10까지 반복
    for b in range(1, end+1, 1):   #10번 반복
        # c가 1부터 10까지 반복
        for c in range(1, end+1, 1):   #10번 반복
            # 10 * 10 * 10 번 반복
            # 마지막 정리 공식이 참인가?
            if a ** n + b ** n == c ** n:
             # 참이라면 해당하는 a, b, c 출력
                print(a, b, c)
            cnt += 1    
# '프로그램 종료' 출력
print(cnt)
print('프로그램 종료')

1000
프로그램 종료

In [ ]:
# tuple 간의 결합
tuple_c = tuple_a + tuple_b
tuple_d = tuple_a * 3
# 튜플은 데이터의 수정이 불가능해서 에러가 발생
#tuple_e = tuple_b + 3
print(tuple_c)
print(tuple_d)
# print(tuple_e)

In [69]:
# tuple 안에 데이터를 추출
print(tuple_d[1])
# 두번째 데이터부터 네번째 데이터 전까지
print(tuple_d[1:3])
# 처음부터 3번째 데이터전까지 
print(tuple_d[:2])
# 두번째 데이터부터 마지막까지
print(tuple_d[1:])
# 마지막 데이터만 출력
print(tuple_d[5])
# len(tuple_d) -> 6
print(tuple_d[len(tuple_d)-1])
print(tuple_d[-1])

NameError: name 'tuple_d' is not defined

In [70]:
# list 데이터 생성
list_a = [20, 10, 40, 30]
list_b = ['abc', 'ade', 'aaa']
print(list_a)
print(list_b)
print(type(list_a))
print(type(list_b))

[20, 10, 40, 30]
['abc', 'ade', 'aaa']
<class 'list'>
<class 'list'>

In [72]:
## 정렬을 변경
# 오름차순 정렬
list_a.sort()
print(list_a)

[10, 20, 30, 40]

In [73]:
# 역순으로 변경
list_b.reverse()
print(list_b)

['aaa', 'ade', 'abc']

In [75]:
# 내림차순 정렬
list_c = [20, 40, 10, 30]
# 오름차순 정렬
list_c.sort()
# 역순으로 변경
list_c.reverse()
print(list_c)

[40, 30, 20, 10]

In [76]:
list_d = [20, 40, 10, 30]
# 내림차순 정렬
list_d.sort(reverse=True)
print(list_d)

[40, 30, 20, 10]