In [1]:
## 문자열 내장 함수
a = ' Hello world '

In [5]:
## 문자열을 모두 대문자로 변경
print(a.upper())
## 문자열을 모두 소문자로 변경
print(a.lower())
## 대문자를 소문자로 소문자를 대문자로 변경
print(a.swapcase())
## 단어이 첫글자만 대문자로 변경
print(a.title())

 HELLO WORLD
 hello world
 hELLO WORLD
 Hello World

In [6]:
a == 'Hello world'

False

In [8]:
## 문자열에서 좌우의 공백을 제거
# 벗겨내다 -> strip() -> 인자의 값을 기본값으로 사용 -> 공백 제거
a
a.strip()

'Hello world'

In [9]:
# 문자열에서 좌측의 공백을 제거
a.lstrip()

'Hello world '

In [10]:
# 문자열에서 우측의 공백을 제거
a.rstrip()

' Hello world'

In [29]:
price = "$100"
# price를 숫자의 형태로 변경

In [12]:
# 에러 발생
# $가 숫자로 변경이 되지 않기 때문
int(price)

ValueError: invalid literal for int() with base 10: '$100'

In [30]:
## price를 숫자로 바꾸기 위해서
## 왼쪽에 있는 $ 를 벗겨낸다
price = price.lstrip('$')
print(price, type(price))
price = int(price)
print(price, type(price))

100 <class 'str'>
100 <class 'int'>

In [18]:
## strip() 함수는 문자가 시작되기 전,
## 문자가 끝나고 나서 데이터들을 제거
## 문자열 사이에 데이터들을 변경해주기 위한 함수
## replace(변경할 문자열, 치환 문자열)   <-- 문자열 전체를 대상으로 진행된다
a.replace('Hello', 'Hi')

' Hi world '

In [20]:
## 공백을 제거할 이유로 replace()
a.replace(" ", "")

'Helloworld'

In [21]:
test_str2 = "Hello \n World"

In [23]:
print(test_str2)

Hello
 World

In [25]:
# 문자열 사이의 공백이 제거되지 않는다
test_str2.strip()

'Hello \n World'

In [26]:
test_str2.replace('\n', '')

'Hello  World'

In [1]:
# 문자열을 리스트로 변경
a = "test test2 test3"

In [3]:
# 문자 하나 하나씩을 각 원소로 하여 리스트 생성
list(a)

['t',
 'e',
 's',
 't',
 ' ',
 't',
 'e',
 's',
 't',
 '2',
 ' ',
 't',
 'e',
 's',
 't',
 '3']

In [5]:
# 문자열애서 특정 문자로 글자를 나눠서 리스트로 생성
# split()
a.split()

['test', 'test2', 'test3']

In [6]:
b = "20/30/40"

In [9]:
b.split('/')

['20', '30', '40']

In [2]:
# 문자열에서 비교 연산을 하는 함수
query = "select * from table"
query2 = """
    SELECT
    *
    from
    table
"""

In [3]:
# query, query2 가 select로 시작하는가?
query[:6] == 'select'

True

In [6]:
query2.strip().lower()[:6] == 'select'

True

In [14]:
query.lower().split()[0] == 'select'

True

In [17]:
query.lower().strip().startswith('select')  ##start 와 with 사이에 's' 주의

True

In [18]:
query2.lower().strip().startswith('select')

True